openapi: "3.0.0"
info:
  version: 1.0.0
  title: 民泊物件情報API
  description: 民泊物件の管理をサポートするAPI
  license:
    name: MIT
servers:
  - url: https://www.enabler.fun/api
paths:
  /properties:
    get:
      summary: すべての民泊施設を取得
      operationId: listProperties
      tags:
        - properties
      responses:
        '200':
          description: 民泊施設の配列
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Properties"
        default:
          description: 予期せぬエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: 新しい民泊施設を作成
      operationId: createProperty
      tags:
        - properties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyInput'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyCreationResponse'
        default:
          description: 予期せぬエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /properties/{propertyId}:
    get:
      summary: 特定の民泊施設を取得
      operationId: getPropertyById
      tags:
        - properties
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 民泊施設の詳細情報
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Property"
        '404':
          description: 指定された民泊施設が見つかりません
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: 予期せぬエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: 民泊施設情報を更新
      operationId: updateProperty
      tags:
        - properties
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyInput'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyUpdateResponse'
        default:
          description: 予期せぬエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: 民泊施設を削除
      operationId: deleteProperty
      tags:
        - properties
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 削除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyDeletionResponse'
        '404':
          description: 指定された民泊施設が見つかりません
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: 予期せぬエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Property:
      type: object
      required:
        - id
        - title
        - price
        - bedrooms
        - bathrooms
        - area
      properties:
        id:
          type: string
          example: "hawaii-beach-house-001"
          description: "物件の一意識別子"
        title:
          type: string
          example: "ハワイのビーチハウス"
          description: "物件のタイトル"
        address:
          type: string
          example: "ハワイ、ワイキキビーチ近く"
          description: "物件の所在地"
        price:
          type: number
          example: 2500000
          description: "価格（宿泊料金または購入価格）"
        priceUnit:
          type: string
          enum: ["泊", "週", "月", "年", "棟", "区分"]
          example: "泊"
          description: "価格の単位"
        ownershipType:
          type: string
          enum: ["全所有権", "共有持分", "区分所有"]
          example: "全所有権"
          description: "所有権の種類"
        ownershipRatio:
          type: string
          example: "1/6"
          description: "所有権の割合（共有持分や区分所有の場合）"
        bedrooms:
          type: integer
          minimum: 0
          example: 3
          description: "寝室の数"
        bathrooms:
          type: integer
          minimum: 0
          example: 2
          description: "バスルームの数"
        area:
          type: number
          minimum: 0
          example: 190
          description: "物件の面積"
        areaUnit:
          type: string
          enum: ["m²", "坪", "ft²"]
          example: "m²"
          description: "面積の単位"
        description:
          type: string
          example: "長い間探し続けた海沿いの一軒家が、ついに完成しました！こんな家があったらいいだろうというような夢の物件です。ワイキキビーチから車で20分の距離にあり、築100年の建物をフルリノベーションしました。"
          description: "物件の詳細な説明"
        imageUrls:
          type: array
          items:
            type: string
            format: uri
          example: ["https://example.com/hawaii-house1.jpg", "https://example.com/hawaii-house2.jpg"]
          description: "物件の画像URL一覧"
        amenities:
          type: array
          items:
            type: string
          example: ["高級アメニティ", "ビーチフロント", "無料Wi-Fi", "フルキッチン", "バルコニー"]
          description: "物件の設備・アメニティ一覧"
        maxGuests:
          type: integer
          minimum: 1
          example: 6
          description: "最大宿泊人数"
        smoking:
          type: boolean
          example: false
          description: "喫煙可否"
        pets:
          type: boolean
          example: false
          description: "ペット可否"
        wifi:
          type: boolean
          example: true
          description: "Wi-Fi利用可否"
        cleaningFee:
          type: number
          minimum: 0
          example: 50000
          description: "清掃料金"
        parking:
          type: string
          example: "2台まで無料駐車可能"
          description: "駐車場情報"
        cancellationPolicy:
          type: string
          example: "チェックイン14日前までキャンセル無料、以降は1泊分のキャンセル料"
          description: "キャンセルポリシー"
        nearbyAttractions:
          type: array
          items:
            type: string
          example: ["ワイキキビーチ", "ダイヤモンドヘッド", "アラモアナショッピングセンター"]
          description: "近隣の観光スポット"
        mainFacilities:
          type: array
          items:
            type: string
          example: ["プライベートプール", "バーベキューエリア", "ホームシアター"]
          description: "主な設備・家具"
        availablePeriod:
          type: object
          properties:
            start:
              type: string
              format: date
              example: "2024-04-01"
            end:
              type: string
              format: date
              example: "2024-09-30"
          description: "予約可能期間"
        specialOffers:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: "7泊以上で10%オフ"
              description:
                type: string
                example: "7泊以上のご予約で、総額から10%割引いたします。"
              validUntil:
                type: string
                format: date
                example: "2024-12-31"
          description: "特別オファー"
        nearbyFacilities:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: "スーパーマーケット"
              distance:
                type: string
                example: "徒歩5分"
          description: "近隣の施設"
        mapUrl:
          type: string
          format: uri
          example: "https://maps.example.com/hawaii-beach-house-001"
          description: "物件の地図情報URL"
        rating:
          type: number
          minimum: 0
          maximum: 5
          example: 4.8
          description: "物件の平均評価（0-5）"
        reviews:
          type: array
          items:
            $ref: "#/components/schemas/Review"
          description: "物件のレビュー"
        host:
          $ref: "#/components/schemas/Host"
          description: "ホスト情報"
        updatedAt:
          type: string
          format: date-time
          example: "2024-03-15T09:30:00Z"
          description: "最終更新日時"

    Review:
      type: object
      properties:
        id:
          type: string
        author:
          type: string
        rating:
          type: number
          minimum: 1
          maximum: 5
        comment:
          type: string
        createdAt:
          type: string
          format: date-time

    Host:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        profileImage:
          type: string
          format: uri
        description:
          type: string
        responseRate:
          type: number
          minimum: 0
          maximum: 100
        responseTime:
          type: string
    PropertyInput:
      type: object
      # 民泊施設の入力プロパティをここに定義
    Properties:
      type: array
      items:
        $ref: "#/components/schemas/Property"
    PropertyCreationResponse:
      type: object
      properties:
        message:
          type: string
        id:
          type: string
    PropertyUpdateResponse:
      type: object
      properties:
        message:
          type: string
        updatedId:
          type: string
    PropertyDeletionResponse:
      type: object
      properties:
        message:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string